version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: chore
      prefix-development: chore
      include: scope
    groups:
      vitest:
        patterns:
          - "vitest"
          - "@vitest/coverage-v8"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: chore
      prefix-development: chore
      include: scope
