name: Release for Brave, Chrome, Firefox, and Edge

on:
  workflow_dispatch:
    inputs:
      publish:
        description: 'Select how the release should be published.'
        type: choice
        options:
          - skip
          - dry run
          - full
        default: full
      release:
        description: 'Select how the GitHub release should be created.'
        type: choice
        options:
          - skip
          - draft
          - full
        default: full

jobs:
  version:
    permissions:
      contents: read
    runs-on: ubuntu-24.04-arm
    outputs:
      extension_version: ${{ steps.package-version.outputs.extension_version }}
    steps:
      - uses: actions/checkout@v5
      - name: Extract extension version
        id: package-version
        run: |
          VERSION="$(node -p "require('./package.json').version")"
          echo "extension_version=${VERSION}" >> "$GITHUB_OUTPUT"

  package-brave:
    permissions:
      contents: read
      actions: write
    runs-on: ubuntu-24.04-arm
    needs: version
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
      - name: Install npm deps
        run: npm ci
      - name: Package extension for Brave
        run: npm run package:brave
      - name: Upload Brave artifact
        uses: actions/upload-artifact@v5
        with:
          name: brave-package
          path: build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-brave.zip
          if-no-files-found: error

  package-chrome:
    permissions:
      contents: read
      actions: write
    runs-on: ubuntu-24.04-arm
    needs: version
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
      - name: Install npm deps
        run: npm ci
      - name: Package extension for Chrome
        run: npm run package:chrome
      - name: Upload Chrome artifact
        uses: actions/upload-artifact@v5
        with:
          name: chrome-package
          path: build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-chrome.zip
          if-no-files-found: error

  package-edge:
    permissions:
      contents: read
      actions: write
    runs-on: ubuntu-24.04-arm
    needs: version
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
      - name: Install npm deps
        run: npm ci
      - name: Package extension for Edge
        run: npm run package:edge
      - name: Upload Edge artifact
        uses: actions/upload-artifact@v5
        with:
          name: edge-package
          path: build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-edge.zip
          if-no-files-found: error

  package-firefox:
    permissions:
      contents: read
      actions: write
    runs-on: ubuntu-24.04-arm
    needs: version
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
      - name: Install npm deps
        run: npm ci
      - name: Package extension for Firefox
        run: npm run package:firefox
      - name: Lint Firefox package
        run: npx web-ext lint --source-dir build/firefox-mv3
      - name: Upload Firefox artifact
        uses: actions/upload-artifact@v5
        with:
          name: firefox-package
          path: build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-firefox.zip
          if-no-files-found: error

  package-sources:
    permissions:
      contents: read
      actions: write
    runs-on: ubuntu-24.04-arm
    needs: version
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
      - name: Install npm deps
        run: npm ci
      - name: Package sources
        run: npm run package:sources
      - name: Upload sources artifact
        uses: actions/upload-artifact@v5
        with:
          name: sources-package
          path: build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-sources.zip
          if-no-files-found: error

  publish:
    permissions:
      actions: read
    runs-on: ubuntu-24.04-arm
    needs:
      - package-chrome
      - package-firefox
      - package-edge
      - package-sources
      - version
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
      - name: Install npm deps
        run: npm ci
      - name: Download packaged Chrome artifact
        uses: actions/download-artifact@v6
        with:
          name: chrome-package
          path: artifacts
      - name: Download packaged Firefox artifact
        uses: actions/download-artifact@v6
        with:
          name: firefox-package
          path: artifacts
      - name: Download packaged Edge artifact
        uses: actions/download-artifact@v6
        with:
          name: edge-package
          path: artifacts
      - name: Download packaged sources artifact
        uses: actions/download-artifact@v6
        with:
          name: sources-package
          path: artifacts
      - name: Publish browser extensions
        if: ${{ github.event.inputs.publish != 'skip' }}
        env:
          DRY_RUN: ${{ github.event.inputs.publish == 'dry run' }}
          CHROME_ZIP: artifacts/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-chrome.zip
          CHROME_EXTENSION_ID: ${{ secrets.CHROME_EXTENSION_ID }}
          CHROME_CLIENT_ID: ${{ secrets.CHROME_CLIENT_ID }}
          CHROME_CLIENT_SECRET: ${{ secrets.CHROME_CLIENT_SECRET }}
          CHROME_REFRESH_TOKEN: ${{ secrets.CHROME_REFRESH_TOKEN }}
          CHROME_PUBLISH_TARGET: default
          CHROME_SKIP_SUBMIT_REVIEW: 'false'
          FIREFOX_ZIP: artifacts/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-firefox.zip
          FIREFOX_SOURCES_ZIP: artifacts/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-sources.zip
          FIREFOX_EXTENSION_ID: ${{ secrets.FIREFOX_ADDON_GUID }}
          FIREFOX_JWT_ISSUER: ${{ secrets.FIREFOX_JWT_ISSUER }}
          FIREFOX_JWT_SECRET: ${{ secrets.FIREFOX_JWT_SECRET }}
          FIREFOX_CHANNEL: listed
          EDGE_ZIP: artifacts/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-edge.zip
          EDGE_PRODUCT_ID: ${{ secrets.MICROSOFT_PRODUCT_ID }}
          EDGE_CLIENT_ID: ${{ secrets.MICROSOFT_CLIENT_ID }}
          EDGE_API_KEY: ${{ secrets.MICROSOFT_API_KEY }}
          EDGE_SKIP_SUBMIT_REVIEW: 'false'
        run: npm run publish

  create-release:
    if: ${{ github.event.inputs.release != 'skip' }}
    permissions:
      contents: write
      actions: read
    runs-on: ubuntu-24.04-arm
    needs:
      - package-brave
      - package-chrome
      - package-edge
      - package-firefox
      - package-sources
      - version
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Download Brave artifact
        uses: actions/download-artifact@v6
        with:
          name: brave-package
          path: artifacts
      - name: Download Chrome artifact
        uses: actions/download-artifact@v6
        with:
          name: chrome-package
          path: artifacts
      - name: Download Edge artifact
        uses: actions/download-artifact@v6
        with:
          name: edge-package
          path: artifacts
      - name: Download Firefox artifact
        uses: actions/download-artifact@v6
        with:
          name: firefox-package
          path: artifacts
      - name: Download sources artifact
        uses: actions/download-artifact@v6
        with:
          name: sources-package
          path: artifacts
      - name: Generate release notes
        id: release_notes
        uses: TriPSs/conventional-changelog-action@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          tag-prefix: v
          version: ${{ needs.version.outputs.extension_version }}
          skip-commit: true
          skip-tag: true
          skip-release: true
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          draft: ${{ github.event.inputs.release == 'draft' }}
          tag_name: v${{ needs.version.outputs.extension_version }}
          name: v${{ needs.version.outputs.extension_version }}
          body: ${{ steps.release_notes.outputs.clean_changelog }}
          files: |
            artifacts/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-brave.zip
            artifacts/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-chrome.zip
            artifacts/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-edge.zip
            artifacts/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-firefox.zip
            artifacts/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-sources.zip
