name: Release for Brave, Chrome, Firefox, and Edge

on:
  workflow_dispatch:

jobs:
  version:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      extension_version: ${{ steps.package-version.outputs.extension_version }}
    steps:
      - uses: actions/checkout@v5
      - name: Extract extension version
        id: package-version
        run: |
          VERSION="$(node -p "require('./package.json').version")"
          echo "extension_version=${VERSION}" >> "$GITHUB_OUTPUT"

  package-brave:
    permissions:
      contents: read
      actions: write
    runs-on: ubuntu-latest
    needs: version
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'
      - name: Install npm deps
        run: npm ci
      - name: Package extension for Brave
        run: npm run package:brave
      - name: Upload Brave artifact
        uses: actions/upload-artifact@v4
        with:
          name: brave-package
          path: build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-brave.zip
          if-no-files-found: error

  package-chrome:
    permissions:
      contents: read
      actions: write
    runs-on: ubuntu-latest
    needs: version
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'
      - name: Install npm deps
        run: npm ci
      - name: Package extension for Chrome
        run: npm run package:chrome
      - name: Upload Chrome artifact
        uses: actions/upload-artifact@v4
        with:
          name: chrome-package
          path: build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-chrome.zip
          if-no-files-found: error

  package-edge:
    permissions:
      contents: read
      actions: write
    runs-on: ubuntu-latest
    needs: version
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'
      - name: Install npm deps
        run: npm ci
      - name: Package extension for Edge
        run: npm run package:edge
      - name: Upload Edge artifact
        uses: actions/upload-artifact@v4
        with:
          name: edge-package
          path: build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-edge.zip
          if-no-files-found: error

  package-firefox:
    permissions:
      contents: read
      actions: write
    runs-on: ubuntu-latest
    needs: version
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'
      - name: Install npm deps
        run: npm ci
      - name: Package extension for Firefox
        run: npm run package:firefox
      - name: Lint Firefox package
        run: npx web-ext lint --source-dir build/firefox-mv3
      - name: Upload Firefox artifact
        uses: actions/upload-artifact@v4
        with:
          name: firefox-package
          path: build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-firefox.zip
          if-no-files-found: error

  # publish-chrome:
  #   permissions:
  #     actions: read
  #   runs-on: ubuntu-latest
  #   needs:
  #     - package-chrome
  #     - version
  #   steps:
  #     - name: Download packaged Chrome artifact
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: chrome-package
  #         path: artifacts
  #     - name: Publish to Chrome Web Store
  #       uses: mobilefirstllc/cws-publish@latest
  #       with:
  #         action: publish
  #         client_id: ${{ secrets.CHROME_CLIENT_ID }}
  #         client_secret: ${{ secrets.CHROME_CLIENT_SECRET }}
  #         refresh_token: ${{ secrets.CHROME_REFRESH_TOKEN }}
  #         extension_id: ${{ secrets.CHROME_EXTENSION_ID }}
  #         zip_file: artifacts/build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-chrome.zip

  # publish-firefox:
  #   permissions:
  #     actions: read
  #   runs-on: ubuntu-latest
  #   needs:
  #     - package-firefox
  #     - version
  #   steps:
  #     - name: Download packaged Firefox artifact
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: firefox-package
  #         path: artifacts
  #     - name: Publish to Firefox Add-ons
  #       uses: wdzeng/firefox-addon@v1
  #       with:
  #         addon-guid: ${{ secrets.FIREFOX_ADDON_GUID }}
  #         xpi-path: artifacts/build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-firefox.zip
  #         self-hosted: false
  #         jwt-issuer: ${{ secrets.FIREFOX_JWT_ISSUER }}
  #         jwt-secret: ${{ secrets.FIREFOX_JWT_SECRET }}

  # publish-edge:
  #   permissions:
  #     actions: read
  #   runs-on: ubuntu-latest
  #   needs:
  #     - package-edge
  #     - version
  #   steps:
  #     - name: Download packaged Edge artifact
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: edge-package
  #         path: artifacts
  #     - name: Publish to Microsoft Edge Add-ons
  #       uses: wdzeng/edge-addon@v2
  #       with:
  #         product-id: ${{ secrets.MICROSOFT_PRODUCT_ID }}
  #         zip-path: artifacts/build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-edge.zip
  #         api-key: ${{ secrets.MICROSOFT_API_KEY }}
  #         client-id: ${{ secrets.MICROSOFT_CLIENT_ID }}

  create-release:
    permissions:
      contents: write
      actions: read
    runs-on: ubuntu-latest
    needs:
      - package-brave
      - package-chrome
      - package-edge
      - package-firefox
      - version
    steps:
      - name: Download Brave artifact
        uses: actions/download-artifact@v4
        with:
          name: brave-package
          path: artifacts
      - name: Download Chrome artifact
        uses: actions/download-artifact@v4
        with:
          name: chrome-package
          path: artifacts
      - name: Download Edge artifact
        uses: actions/download-artifact@v4
        with:
          name: edge-package
          path: artifacts
      - name: Download Firefox artifact
        uses: actions/download-artifact@v4
        with:
          name: firefox-package
          path: artifacts
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ needs.version.outputs.extension_version }}
          name: v${{ needs.version.outputs.extension_version }}
          body: |
            Automated release for version v${{ needs.version.outputs.extension_version }}
          files: |
            artifacts/build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-brave.zip
            artifacts/build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-chrome.zip
            artifacts/build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-edge.zip
            artifacts/build/icloud-hide-my-email-plus-browser-extension-${{ needs.version.outputs.extension_version }}-firefox.zip
